.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-text-1 {
  margin: 12px auto 0 30px;
}

.u-section-1 .u-form-1 {
  height: 331px;
  margin: 30px 505px 60px 65px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}